CATALOG_DATABASE=bigdawg_catalog
CATALOG_USER=pguser
CATALOG_PASSWORD=test
CATALOG_HOST=localhost
CATALOG_PORT=5400
SCHEMA_DATABASE=bigdawg_schemas
QUERY_HOST=localhost
QUERY_PORT=8080
QUERY_SCHEME=http
